.git
.gitignore
.next
.env*
!.env.example
node_modules
tests
docs
coverage
*.md
!README.md
docker-compose.yml
Dockerfile
.dockerignore
.prettierrc
.prettierignore
.nvmrc
playwright.config.ts
vitest.config.ts
.github
